h2{
    color: blue;
    font-style: oblique;
    font-weight:1000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-decoration: underline;
}
td{
    text-align: center;
}
th{
   color:purple; 
}
.kanna{
    color: red;
}