<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resuma.css">
    <style>
        body{
            margin: 15px;
            border:10px solid black;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <form method="POST">
    <h1  class="kanna"><center><b>Resume</b></center></h1>
    <h2><center><b>BONTHU CHITTESH</b></center></h2>
    <h2>Address for communication:</h2>
    <img src="C:\Users\chitt\OneDrive\Desktop\mee.jpg" alt="" width="140px"height="137px" align="right" > </bh>
    <ul>23-67, YSR Colony, vadrugudem Opposite,
        Chintalapudi Mandal, Chintalapudi, Eluru,                          
         Andhra Pradesh Pin: 534460 <br>
        Mobile No: +91 93918 27225   Email ID: chitteshbonthu@gmail.com
        </ul>
        <h2>Career objective:</h2>
        <ul>
            <li>To become an engineer in electrical since to share my knowledge as will as to learn new things about electrical engineer.</li>
        </ul>
        <hr>
        <h2>Education Qualification:</h2>
        <table border="1">
            <tr>
                <th>program</th>
                <th>Specialization</th>
                <th>Bourd/university</th>
                <th>duration</th>
                <th>percentage</th>
            </tr>
            <tr>
                <td>B.Tech</td>
                <td>EEE</td>
                <td>ANU</td>
                <td>pursuing</td>
                <td>pursuing</td>
            </tr>
            <tr>
                <td>diplona</td>
                <td>EEE</td>
                <td>SBTET</td>
                <td>2019-2022</td>
                <td>70%</td>
            </tr>
            <TR>
                <td>SSC</td>
                <td>-</td>
                <td>Board of Secondary School Education</td>
                <td>2018-19/td>
                <td>82%</td>
            </TR>
        </table>
            <hr>
        <h2>Extra-Curricular Activities:</h2>
        <ul>
            <li>Attended a 3 years course of Nation Cadet Cops at Government Polytechnic college organized by1(A) ENG COY Guntur,2019-2022.</li>
        </ul>
        <hr>
        <h2>Project/Internship:</h2>
        <ul>
            <li>Completed an internship program at Rockman Company for 6 months during February to July,2019-2022.</li>
            <li>Completed an internship program at 33/11 KV substation at sangadigunta, Guntur for one month during June to July, 2023.</li>
            <li>Completed an online internship program of Cyber Security for one month during June to July,2023 organized by Chalapathi Institute of Engineering & Technology.</li>
            <li>Completed an online internship program of AI-ML Virtual Internship for one month during September to november,2023 organized by Chalapathi Institute of Engineering & Technology.</li>
        </ul>
        <hr>
        <h2>Technical Skills: </h2>
        <ol>
            <li>ms office</li>
            <li>ms power point</li>
            <li>Python</li>
        </ol>
        <hr>
        <h2>Strengths:</h2>
        <ol>
            <li>Positive attitude</li>
            <li>Good communication skills</li>
            <li>Quick learner</li>
        </ol>
        <hr>
        <h2>Personal profile:</h2>
        <ul>
            <li>Father name     : Bonthu Ranga rao</li>
            <li>Mother name     : Bonthu Siva Parvathi</li>
            <li>Date of birth   : 30th April,2003</li>
            <li>Sex             : Male</li>
            <li>Languages       : English, Hindi, Telugu</li>
            <li>Marital status  : Single</li>
        </ul>
        <hr>
        <h2>Declaration:</h2> 
        <ul>
            <li>I hereby declare that the above information furnished is true and correct.</li>
        </ul>
        <p>Station: Guntur
            Date    :29/09/2023</P>
        <P align="right">(BONTHU CHITTESH)</P>
</h4>
</form>
</body>
</html>